@charset "utf-8";

// Define defaults for each variable.

$base-font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$logo-font-family: "Yatra One", cursive;
$base-font-size:   14px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #202020 !default;
$background-color: #fdfdfd !default;
$brand-color:      #21A3A6 !default;

$grey-color:       #696969 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$asia-green-color:       #00A669 !default;
$asia-green-color-light: lighten($asia-green-color, 40%) !default;
$asia-green-color-dark:  darken($asia-green-color, 25%) !default;

$asia-cyan-color:       #21A3A6 !default;
$asia-cyan-color-light: lighten($asia-cyan-color, 40%) !default;
$asia-cyan-color-dark:  darken($asia-cyan-color, 25%) !default;

$asia-blue-color:       #1891D4 !default;
$asia-blue-color-light: lighten($asia-blue-color, 40%) !default;
$asia-blue-color-dark:  darken($asia-blue-color, 25%) !default;

$asia-highlight-color: #a6003d !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1200px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
//  "minima/syntax-highlighting",
  "css/syntax-highlighting-custom.css",
  "css/better-gist-styles.css",
  "fonts/Sans/cmun-sans.css"
;
